apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: search-v2-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Search is the schema for the searches API.
      displayName: Search
      kind: Search
      name: searches.search.open-cluster-management.io
      version: v1alpha1
  description: Installs search components and manages lifecycle
  displayName: search-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - search
  - Advanced Cluster Management
  - Open Cluster Management
  - stolostron
  - acm
  - ocm
  links:
  - name: Search Operator
    url: https://github.com/stolostron/search-v2-operator
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.0.0
