---
# Default values for search-collector addOn.
org: open-cluster-management

nameOverride: search-collector
fullnameOverride: klusterlet-addon-search

hubKubeConfigSecret: null
clusterName: null

affinity: {}


userargs:
  containerArgs: null
  limitMemory: 1024Mi
  requestMemory: 128Mi
  rediscoverRate: null
  heartBeat: null
  reportRate: null

logLevel: null

tolerations: []

# This will expose metrics
prometheus:
  # This will be automatically enabled if it's an OpenShift cluster
  enabled: false

global: 
  imagePullPolicy: IfNotPresent
  imagePullSecret: open-cluster-management-image-pull-credentials
  imageOverrides:
    search_collector: quay.io/stolostron/search_collector:latest
  nodeSelector: {}
  proxyConfig:
    HTTP_PROXY: null
    HTTPS_PROXY: null
    NO_PROXY: null
