---
# Default values for search-collector addOn.
org: open-cluster-management

nameOverride: search-collector
fullnameOverride: klusterlet-addon-search

hubKubeConfigSecret: null
clusterName: null

affinity: {}


userargs:
  containerArgs: null
  limitMemory: 1024Mi
  requestMemory: 128Mi
  rediscoverRate: null
  heartBeat: null
  reportRate: null

logLevel: null

tolerations:
- key: "dedicated"
  operator: "Equal"
  value: "infra"
  effect: "NoSchedule"
- key: node-role.kubernetes.io/infra
  operator: Exists
  effect: NoSchedule

global: 
  imagePullPolicy: Always
  imagePullSecret: open-cluster-management-image-pull-credentials
  imageOverrides:
    search_collector: quay.io/stolostron/search_collector:latest
  nodeSelector: 
    kubernetes.io/os: linux
  proxyConfig:
    HTTP_PROXY: null
    HTTPS_PROXY: null
    NO_PROXY: null